:root {
  --token-component-action-button-border-radius-default: 4px;
  --token-component-action-button-border-secondary-default: 1px solid #435760;
  --token-component-action-button-border-secondary-hovered: 1px solid #324148;
  --token-component-action-button-border-secondary-on-dark-default: 1px solid #C1D9E3;
  --token-component-action-button-border-tag-default: 1px solid #435760;
  --token-component-action-button-border-tag-hovered: 1px solid #324148;
  --token-component-action-button-color-text-secondary-on-dark-default: #C1D9E3;
  --token-component-action-button-color-text-secondary-on-dark-hovered: #001D2C;
  --token-component-action-button-color-icon-fill-secondary-on-dark-default: #C1D9E3;
  --token-component-action-button-color-icon-fill-secondary-on-dark-hovered: #001D2C;
  --token-component-action-button-color-background-secondary-on-dark-default: transparent;
  --token-component-action-button-color-background-secondary-on-dark-hovered: #C1D9E3;
  --token-global-scale: 4px;
  --token-global-border-radius-default: 16px;
  --token-global-border-radius-xxs: 2px;
  --token-global-border-radius-xs: 4px;
  --token-global-border-radius-sm: 8px;
  --token-global-border-radius-md: 16px;
  --token-global-border-radius-lg: 24px;
  --token-global-border-radius-xl: 32px;
  --token-border-radius-common: 4px;
  --token-border-radius-extreme: 35px;
  --token-global-border-width-default: 1px;
  --token-global-border-width-2x: 2px;
  --token-global-border-width-3x: 3px;
  --token-global-border-width-4x: 4px;
  --token-global-spacing-default: 16px;
  --token-global-spacing-4xs: 2px;
  --token-global-spacing-3xs: 4px;
  --token-global-spacing-2xs: 6px;
  --token-global-spacing-xs: 8px;
  --token-global-spacing-sm: 12px;
  --token-global-spacing-md: 16px;
  --token-global-spacing-lg: 20px;
  --token-global-spacing-xl: 24px;
  --token-global-spacing-2xl: 32px;
  --token-global-spacing-3xl: 40px;
  --token-global-spacing-4xl: 48px;
  --token-global-spacing-5xl: 56px;
  --token-global-spacing-6xl: 64px;
  --token-semantic-spacing-inset-default: 16px 4px*4 4px*4 16px;
  --token-semantic-spacing-inset-3xs: 4px 4px 4px 4px;
  --token-semantic-spacing-inset-2xs: 6px 4px*1.5 4px*1.5 6px;
  --token-semantic-spacing-inset-xs: 8px 4px*2 4px*2 8px;
  --token-semantic-spacing-inset-sm: 12px 4px*3 4px*3 12px;
  --token-semantic-spacing-inset-md: 16px 4px*4 4px*4 16px;
  --token-semantic-spacing-inset-lg: 20px 4px*5 4px*5 20px;
  --token-semantic-spacing-inset-xl: 24px 4px*6 4px*6 24px;
  --token-semantic-spacing-inset-2xl: 32px 4px*8 4px*8 32px;
  --token-semantic-spacing-inset-3xl: 40px 4px*10 4px*10 40px;
  --token-semantic-spacing-stack-default: 0 0 4px*4 0;
  --token-semantic-spacing-stack-4xs: 0 0 4px 0;
  --token-semantic-spacing-stack-3xs: 0 0 4px 0;
  --token-semantic-spacing-stack-2xs: 0 0 4px*1.5 0;
  --token-semantic-spacing-stack-xs: 0 0 4px*2 0;
  --token-semantic-spacing-stack-sm: 0 0 4px*3 0;
  --token-semantic-spacing-stack-md: 0 0 4px*4 0;
  --token-semantic-spacing-stack-lg: 0 0 4px*5 0;
  --token-semantic-spacing-stack-xl: 0 0 4px*6 0;
  --token-semantic-spacing-stack-2xl: 0 0 4px*8 0;
  --token-semantic-spacing-stack-3xl: 0 0 4px*10 0;
  --token-semantic-spacing-inset-squish-default: 8px 16px;
  --token-semantic-spacing-inset-squish-3xs: 2px 4px;
  --token-semantic-spacing-inset-squish-2xs: 4px 6px;
  --token-semantic-spacing-inset-squish-xs: 4px 8px;
  --token-semantic-spacing-inset-squish-sm: 6px 12px;
  --token-semantic-spacing-inset-squish-md: 8px 16px;
  --token-semantic-spacing-inset-squish-lg: 12px 20px;
  --token-semantic-spacing-inset-squish-xl: 12px 24px;
  --token-semantic-spacing-inset-squish-2xl: 16px 32px;
  --token-semantic-spacing-inset-squish-3xl: 20px 40px;
  --token-semantic-spacing-inset-stretch-default: 16px 8px;
  --token-semantic-spacing-inset-stretch-3xs: 4px 2px;
  --token-semantic-spacing-inset-stretch-2xs: 6px 4px;
  --token-semantic-spacing-inset-stretch-xs: 8px 4px;
  --token-semantic-spacing-inset-stretch-sm: 12px 6px;
  --token-semantic-spacing-inset-stretch-md: 16px 8px;
  --token-semantic-spacing-inset-stretch-lg: 20px 12px;
  --token-semantic-spacing-inset-stretch-xl: 24px 12px;
  --token-semantic-spacing-inset-stretch-2xl: 32px 16px;
  --token-semantic-spacing-inset-stretch-3xl: 40px 20px;
  --token-semantic-spacing-inline-default: 0 4px*4 0 0;
  --token-semantic-spacing-inline-4xs: 0 4px/2 0 0;
  --token-semantic-spacing-inline-3xs: 0 4px 0 0;
  --token-semantic-spacing-inline-2xs: 0 4px*1.5 0 0;
  --token-semantic-spacing-inline-xs: 0 4px*2 0 0;
  --token-semantic-spacing-inline-sm: 0 4px*3 0 0;
  --token-semantic-spacing-inline-md: 0 4px*4 0 0;
  --token-semantic-spacing-inline-lg: 0 4px*5 0 0;
  --token-semantic-spacing-inline-xl: 0 4px*6 0 0;
  --token-semantic-spacing-inline-2xl: 0 4px*8 0 0;
  --token-semantic-spacing-inline-3xl: 0 4px*10 0 0;
  --token-global-font-family-sans-serif: Open Sans;
  --token-global-color-deep-sea-blue-100: #F1FBFF;
  --token-global-color-deep-sea-blue-200: #D9EAF1;
  --token-global-color-deep-sea-blue-300: #C1D9E3;
  --token-global-color-deep-sea-blue-400: #91B6C6;
  --token-global-color-deep-sea-blue-500: #6094AA;
  --token-global-color-deep-sea-blue-600: #30718D;
  --token-global-color-deep-sea-blue-700: #004F71;
  --token-global-color-deep-sea-blue-800: #003F5A;
  --token-global-color-deep-sea-blue-900: #002F44;
  --token-global-color-deep-sea-blue-1000: #00202D;
  --token-global-color-deep-sea-blue-1100: #001017;
  --token-global-color-blue-100: #EEF9FF;
  --token-global-color-blue-200: #D6EFFB;
  --token-global-color-blue-300: #BEE4F8;
  --token-global-color-blue-400: #8FCFF0;
  --token-global-color-blue-500: #5FBBE9;
  --token-global-color-blue-600: #30A6E1;
  --token-global-color-blue-700: #0091DA;
  --token-global-color-blue-800: #0074AE;
  --token-global-color-blue-900: #005783;
  --token-global-color-blue-1000: #003A57;
  --token-global-color-blue-1100: #001D2C;
  --token-global-color-olive-100: #FDFFE5;
  --token-global-color-olive-200: #F7FBCE;
  --token-global-color-olive-300: #F2F7B7;
  --token-global-color-olive-400: #E6EF89;
  --token-global-color-olive-500: #DBE65C;
  --token-global-color-olive-600: #CFDE2E;
  --token-global-color-olive-700: #C4D600;
  --token-global-color-olive-800: #9DAB00;
  --token-global-color-olive-900: #768000;
  --token-global-color-olive-1000: #4E5600;
  --token-global-color-olive-1100: #272B00;
  --token-global-color-red-100: #FEF5F5;
  --token-global-color-red-200: #F8DFDF;
  --token-global-color-red-300: #F1C9C9;
  --token-global-color-red-400: #E59E9E;
  --token-global-color-red-500: #D87272;
  --token-global-color-red-600: #CC4747;
  --token-global-color-red-700: #BF1B1B;
  --token-global-color-red-800: #991616;
  --token-global-color-red-900: #731010;
  --token-global-color-red-1000: #4C0B0B;
  --token-global-color-red-1100: #260505;
  --token-global-color-yellow-100: #FFFAEC;
  --token-global-color-yellow-200: #FEEEC4;
  --token-global-color-yellow-300: #FDE29C;
  --token-global-color-yellow-400: #FDD774;
  --token-global-color-yellow-500: #FCCB4C;
  --token-global-color-yellow-600: #FBBF24;
  --token-global-color-yellow-700: #D29E1E;
  --token-global-color-yellow-800: #A97D18;
  --token-global-color-yellow-900: #7F5D12;
  --token-global-color-yellow-1000: #563C0C;
  --token-global-color-yellow-1100: #2D1B06;
  --token-global-color-green-100: #E8FDE7;
  --token-global-color-green-200: #D2F0D1;
  --token-global-color-green-300: #BDE3BB;
  --token-global-color-green-400: #91C990;
  --token-global-color-green-500: #66B064;
  --token-global-color-green-600: #3A9639;
  --token-global-color-green-700: #0F7C0D;
  --token-global-color-green-800: #0C630A;
  --token-global-color-green-900: #094A08;
  --token-global-color-green-1000: #063205;
  --token-global-color-green-1100: #031903;
  --token-global-color-orange-100: #FCF2E8;
  --token-global-color-orange-200: #F8E5D3;
  --token-global-color-orange-300: #F4D8BE;
  --token-global-color-orange-400: #EBBE94;
  --token-global-color-orange-500: #E1A36B;
  --token-global-color-orange-600: #D88941;
  --token-global-color-orange-700: #CF6F17;
  --token-global-color-orange-800: #A65912;
  --token-global-color-orange-900: #7C430E;
  --token-global-color-orange-1000: #532C09;
  --token-global-color-orange-1100: #291605;
  --token-global-color-purple-100: #F4F0FA;
  --token-global-color-purple-200: #E8E0F5;
  --token-global-color-purple-300: #DDCFEF;
  --token-global-color-purple-400: #C5AEE4;
  --token-global-color-purple-500: #AE8ED9;
  --token-global-color-purple-600: #966DCE;
  --token-global-color-purple-700: #7F4CC3;
  --token-global-color-purple-800: #6A3FA4;
  --token-global-color-purple-900: #563385;
  --token-global-color-purple-1000: #412665;
  --token-global-color-purple-1100: #2D1A46;
  --token-global-color-pink-100: #FEF6FC;
  --token-global-color-pink-200: #F7DFF1;
  --token-global-color-pink-300: #F0C9E5;
  --token-global-color-pink-400: #E29CCE;
  --token-global-color-pink-500: #D46EB8;
  --token-global-color-pink-600: #C641A1;
  --token-global-color-pink-700: #B8148A;
  --token-global-color-pink-800: #93106E;
  --token-global-color-pink-900: #6E0C53;
  --token-global-color-pink-1000: #4A0837;
  --token-global-color-pink-1100: #25041C;
  --token-global-color-teal-100: #EBF7F6;
  --token-global-color-teal-200: #DAEFED;
  --token-global-color-teal-300: #C8E7E3;
  --token-global-color-teal-400: #A5D7D0;
  --token-global-color-teal-500: #83C6BD;
  --token-global-color-teal-600: #60B6AA;
  --token-global-color-teal-700: #3DA697;
  --token-global-color-teal-800: #318579;
  --token-global-color-teal-900: #25645B;
  --token-global-color-teal-1000: #18423C;
  --token-global-color-teal-1100: #0C211E;
  --token-global-color-neutral-100: #F9FAFB;
  --token-global-color-neutral-200: #E9ECEE;
  --token-global-color-neutral-300: #D8DEE1;
  --token-global-color-neutral-400: #B7C2C7;
  --token-global-color-neutral-500: #96A5AC;
  --token-global-color-neutral-600: #758992;
  --token-global-color-neutral-700: #546D78;
  --token-global-color-neutral-800: #435760;
  --token-global-color-neutral-900: #324148;
  --token-global-color-neutral-1000: #222C30;
  --token-global-color-neutral-1100: #111618;
  --token-global-color-white: #ffffff;
  --token-semantic-color-text-default: #001D2C;
  --token-semantic-color-text-heading-default: #003A57;
  --token-semantic-color-text-primary-default: #005783;
  --token-semantic-color-text-primary-hovered: #003A57;
  --token-semantic-color-text-secondary: #435760;
  --token-semantic-color-text-inverse: #ffffff;
  --token-semantic-color-text-danger: #991616;
  --token-semantic-color-text-success: #0C630A;
  --token-semantic-color-text-warning-on-bold: #001D2C;
  --token-semantic-color-text-warning-on-subtle: #7C430E;
  --token-color-text-white: #fff;
  --token-semantic-color-background-danger-subtle: #FEF5F5;
  --token-semantic-color-background-danger-bold-default: #991616;
  --token-semantic-color-background-danger-bold-hovered: #731010;
  --token-semantic-color-background-success-subtle: #E8FDE7;
  --token-semantic-color-background-success-bold-default: #0C630A;
  --token-semantic-color-background-success-bold-hovered: #094A08;
  --token-semantic-color-background-secondary-subtle: #F9FAFB;
  --token-semantic-color-background-secondary-bold-default: #435760;
  --token-semantic-color-background-secondary-bold-hovered: #324148;
  --token-semantic-color-background-secondary-subdued-default: #E9ECEE;
  --token-semantic-color-background-secondary-subdued-hovered: #D8DEE1;
  --token-semantic-color-background-primary-subtle: #EEF9FF;
  --token-semantic-color-background-primary-dark: #001D2C;
  --token-semantic-color-background-primary-bold-default: #005783;
  --token-semantic-color-background-primary-bold-hovered: #003A57;
  --token-semantic-color-background-warning-subtle: #FFFAEC;
  --token-semantic-color-background-warning-bold-default: #D29E1E;
  --token-semantic-color-background-warning-bold-hovered: #A97D18;
  --token-semantic-color-background-inverse-default: #ffffff;
  --token-semantic-color-icon-fill-default: #001D2C;
  --token-semantic-color-icon-fill-primary-default: #005783;
  --token-semantic-color-icon-fill-primary-hovered: #003A57;
  --token-semantic-color-icon-fill-secondary: #435760;
  --token-semantic-color-icon-fill-inverse: #ffffff;
  --token-semantic-color-icon-fill-danger: #991616;
  --token-semantic-color-icon-fill-success: #0C630A;
  --token-semantic-color-icon-fill-warning-on-subtle: #7C430E;
  --token-semantic-color-icon-fill-warning-on-bold: #001D2C;
  --token-semantic-color-border-default: #D8DEE1;
  --token-semantic-color-border-hovered: #96A5AC;
  --token-semantic-color-border-secondary-default: #435760;
  --token-semantic-color-border-secondary-hovered: #324148;
  --token-semantic-color-border-primary-default: #005783;
  --token-semantic-color-border-primary-hovered: #003A57;
  --token-semantic-color-outline-focused-on-dark: #ffeb3b;
  --token-semantic-color-outline-focused-on-light: #001D2C;
  --token-semantic-color-primary-default: #005783;
  --token-semantic-color-primary-hovered: #003A57;
  --token-semantic-color-primary-dark: #001D2C;
  --token-semantic-color-secondary-default: #435760;
  --token-semantic-color-secondary-hovered: #324148;
  --token-semantic-color-secondary-on-dark-default: #C1D9E3;
  --token-semantic-color-danger-default: #991616;
  --token-semantic-color-danger-hovered: #731010;
  --token-semantic-color-success-default: #0C630A;
  --token-semantic-color-success-hovered: #094A08;
  --token-semantic-color-warning-default: #D29E1E;
  --token-semantic-color-warning-hovered: #A97D18;
  --token-color-nav-bar: #0d1c30;
  --token-color-primary-heading: #00556e;
  --token-color-primary-button: #217fb5;
  --token-color-primary-button-hover: #196997;
  --token-color-secondary-button: #858585;
  --token-color-secondary-button-hover: #585858;
  --token-color-cta-button: #018927;
  --token-color-seperator: #c4c4c4;
  --token-color-focus: #fd0;
  --token-color-error: #e30303;
  --token-color-row-highlight: #dbeafe;
  --token-color-rag-green: #a4c83c;
  --token-color-rag-amber: #ff8a00;
  --token-color-rag-amber-light: #f9cb9c;
  --token-color-rag-red: #e31d1d;
  --token-color-rag-red-light: #ea9999;
  --token-color-rag-na: #737373;
  --token-color-episode-state-green: #018927;
  --token-color-episode-state-amber: #ff8a00;
  --token-color-episode-state-blue: #217fb5;
  --token-color-episode-state-darkgrey: #585858;
  --token-global-font-weight-regular: 400;
  --token-global-font-weight-semibold: 600;
  --token-global-font-weight-bold: 700;
  --token-global-font-size-xs: 12px;
  --token-global-font-size-sm: 14px;
  --token-global-font-size-md: 16px;
  --token-global-font-size-lg: 20px;
  --token-global-font-size-xl: 24px;
  --token-global-font-size-2xl: 32px;
  --token-global-font-size-3xl: 40px;
  --token-global-text-decoration-none: none;
  --token-global-text-decoration-underline: underline;
  --token-global-text-decoration-strike-through: line-through;
  --token-global-line-height-xs: 16px;
  --token-global-line-height-sm: 20px;
  --token-global-line-height-md: 24px;
  --token-global-line-height-lg: 28px;
  --token-global-line-height-xl: 32px;
  --token-global-line-height-2xl: 40px;
  --token-global-line-height-3xl: 52px;
  --token-semantic-typography-body-md-regular: 400 16px/24px Open Sans;
  --token-semantic-typography-body-md-semibold: 600 16px/24px Open Sans;
  --token-semantic-typography-body-md-bold: 700 16px/24px Open Sans;
  --token-semantic-typography-body-sm-regular: 400 14px/20px Open Sans;
  --token-semantic-typography-body-sm-semibold: 600 14px/20px Open Sans;
  --token-semantic-typography-body-sm-bold: 700 14px/20px Open Sans;
  --token-semantic-typography-body-lg-regular: 400 20px/28px Open Sans;
  --token-semantic-typography-body-lg-semibold: 600 20px/28px Open Sans;
  --token-semantic-typography-body-lg-bold: 700 20px/28px Open Sans;
  --token-semantic-typography-heading-3xl-regular: 400 40px/52px Open Sans;
  --token-semantic-typography-heading-3xl-semibold: 600 40px/52px Open Sans;
  --token-semantic-typography-heading-3xl-bold: 700 40px/52px Open Sans;
  --token-semantic-typography-heading-2xl-regular: 400 32px/40px Open Sans;
  --token-semantic-typography-heading-2xl-semibold: 600 32px/40px Open Sans;
  --token-semantic-typography-heading-2xl-bold: 700 32px/40px Open Sans;
  --token-semantic-typography-heading-xl-regular: 400 24px/32px Open Sans;
  --token-semantic-typography-heading-xl-semibold: 600 24px/32px Open Sans;
  --token-semantic-typography-heading-xl-bold: 700 24px/32px Open Sans;
  --token-semantic-typography-heading-lg-regular: 400 20px/28px Open Sans;
  --token-semantic-typography-heading-lg-semibold: 600 20px/28px Open Sans;
  --token-semantic-typography-heading-lg-bold: 700 20px/28px Open Sans;
  --token-semantic-typography-heading-md-regular: 400 16px/24px Open Sans;
  --token-semantic-typography-heading-md-semibold: 600 16px/24px Open Sans;
  --token-semantic-typography-heading-md-bold: 700 16px/24px Open Sans;
  --token-semantic-typography-heading-sm-regular: 400 14px/20px Open Sans;
  --token-semantic-typography-heading-sm-semibold: 600 14px/20px Open Sans;
  --token-semantic-typography-heading-sm-bold: 700 14px/20px Open Sans;
  --token-semantic-icon-size-default: 20px;
  --token-semantic-icon-size-sm: 16px;
  --token-semantic-icon-size-md: 20px;
  --token-semantic-icon-size-lg: 24px;
  --token-semantic-icon-size-xl: 32px;
  --token-semantic-icon-size-2xl: 40px;
  --token-semantic-elevation-overlay-shadow: 0 8px 12px 0 #001D2C4F, 0 1px 1px 0 #001D2C26;
  --token-semantic-elevation-raised-shadow: 0 0 1px 0 #001D2C52, 0 3px 3px 0 #001D2C14;
  --token-semantic-elevation-subtle-shadow: 0 1px 2px 0 #001D2C1A;
  --token-size-font-small: 14;
  --token-size-font-medium: 18;
  --token-size-font-large: 24;
  --token-size-font-base: 18;
}
